*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 400px;
    height: max-content;
    margin-top: 100px;
}
.top{
    width: 100%;
    height: 45px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    font-size: 27px;
    margin-bottom: 10px;
}
form{
    width: 100%;
}
input{
    margin-bottom: 30px;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    padding-left: 10px;
}
input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder{
    color: rgb(59, 59, 59);
}
label{
    font-size: 15px;
    color: rgb(71, 71, 71);
}
input[type="checkbox"]:focus{
    box-shadow: 0px 0px 1px 2px rgb(176 217 236 / 68%);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    padding-top: 18px;
    outline: none;
    border: 1px  solid rgb(176, 217, 236);
    box-shadow: 0px 0px 1px 3px rgb(176 217 236 / 68%);
}
input[name="sign"]{
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 113, 255);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
input[name="sign"]:hover{
    background-color: rgb(0, 97, 224);
}
input[name="sign"]:disabled{
    background-color: rgb(57, 166, 255);
}
input[name="sign"]:disabled:hover{
    background-color: rgb(57, 166, 255);
}

.first-name, .last-name, .email, .password{
    position: relative;
}

.first-name p, .last-name p, .email p, .password p{
    display: none;
    position: absolute;
    font-size: 13px;
    color: rgb(110, 110, 110);
    top: 5px;
    left: 11px;
}

.first-name-false, .last-name-false, .email-false, .password-false{
    display: none;
    background-color: rgba(248, 62, 62, 0.884);
    color: rgb(247, 247, 247);
    font-size: 14px;
    border-radius: 5px;
    width: max-content;
    padding: 5px 8px;
    position: absolute;
    left: 0px;
    top: 51px;
}

.uil-check-fn, .uil-check-ln, .uil-check-em, .uil-check-pw{
    display: none;
    color: rgb(0, 150, 45);
    font-size: 30px;
    position: absolute;
    left: 360px;
    top: 8px;
}

.uil-times{
    display: none;
    color: rgba(248, 62, 62, 0.884);
    font-size: 30px;
    position: absolute;
    left: 360px;
    top: 8px;
}

.container-2{
    display: none;
    width: 550px;
    height: max-content;
    position: absolute;
    top: 100px;
}
.top-2{
    width: 100%;
    height: 150px;
    background-color: rgb(74, 191, 166);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle .uil-check{
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.bottom{
    width: 100%;
    height: 190px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

h2{
    color: rgb(71, 71, 71);
}
.bottom p{
    color: rgb(71, 71, 71);
}
.start-exploring{
    width: 40%;
    height: 35px;
    font-size: 14px;
    color: rgb(247, 247, 247);
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}
.start-exploring:hover{
    background-color: rgb(233, 171, 0);
}
.uil-arrow-right{
    position: absolute;
    font-size: 20px;
    color: rgb(247, 247, 247);
    top: 7px;
    margin-left: 3%;
}


